{% extends 'base.html' %}


{% block content %}

<form action="" method="POST" class="form-group">
{% csrf_token %}
    <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Veuillez compléter le formulaire</h2>
                 {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
                {% else %}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Des erreurs ont été détectées dans votre formulaire :</strong>
                    {{ form.errors }}
                </div>
                {% endif %}




                    <div class="mb-3 form-group" >
                         {{ form.nom }}
                    </div>
                    <div class="mb-3 form-group">
                       {{ form.website }}

                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                {% endif %}

            </div>
        </div>

</form>


{% endblock %}

